<div class="accordion-left">

  <accordion [isAnimated]="true">

    <accordion-group 
    heading="Languages." 
    [panelClass]="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>Fluent <strong><span class="default-highlight">English</span></strong></p>
      <p>Advanced <strong><span class="default-highlight">Hindi</span></strong></p>
      <p>Native <strong><span class="default-highlight">Marathi</span></strong></p>
    </div>
    </accordion-group>

    <accordion-group 
    heading="University." 
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>2025 - CDAC - Centre for Development of Advanced Computing - <strong><span class="default-highlight">Advanced Computing</span></strong> - PG Diploma</p>
      <ul>
        <li>
          Final Project | Streamline Supply Solution - End-to-End Material Supply Management System
        </li>
      </ul>
      <p>2021 - Savitribai Phule Pune University (AISSMS IOIT,Pune) - <strong><span class="default-highlight">Electrical Engineering</span></strong> - Bachelor's Degree</p>
      <ul>
        <li>
          Final Project | Autonomous Solar Panel Cleaning Solution with Smart Automated Cleaning Mechanism
        </li>
      </ul>
     
      
    </div>    
  </accordion-group>

    <accordion-group 
    heading="Technical."
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>CDAC  - <strong><span class="default-highlight">PG Diploma in Advanced Computing</span></strong> - Currently</p>
      <ul>
        <li>
          A Advanced Computing course focused on Fullstack applications. Modules include 
          C++ Programming, Web Programming technologies, Database technologies(MySQL,MongoDB), Data structures and Algorithms (Using java),
          OOP using java, Web-based java Programming,Concepts of operating systems and software development methodologies,Microsoft
          .NET Technologies 
         
        </li>
      </ul>
      
    </div>
    </accordion-group>
    
    <accordion-group 
    heading="Techs I use."
    panelClass="customClass"
    class="accordion-title">
      <div class="tech-board">
          <div class="tech-cell">
              <i class="devicon-java-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-spring-original-wordmark"></i>
          </div>
          <div class="tech-cell">
            <i class="devicon-eclipse-plain-wordmark"></i>
        </div>
        
          <div class="tech-cell">
            <i class="devicon-mysql-plain-wordmark"></i>
        </div>
        
        <div class="tech-cell">
            <i class="devicon-mongodb-plain-wordmark"></i>
        </div>
        
        <div class="tech-cell">
            <i class="devicon-dotnetcore-plain"></i>
        </div>
        
        
          <div class="tech-cell">
              <i class="devicon-angular-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-typescript-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-javascript-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-html5-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-css3-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-bootstrap-plain"></i>
          </div>
          <div class="tech-cell">
            <i class="fa fa-file-excel"></i>
        </div>
        
        
        <div class="tech-cell">
            <i class="devicon-jquery-plain-wordmark"></i>
        </div>
        
        
          <div class="tech-cell">
              <i class="devicon-poetry-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-selenium-original"></i>
          </div>
          <div class="tech-cell">
            <i class="devicon-express-original"></i>
        </div>
        
          <div class="tech-cell">
            <i class="devicon-nodejs-plain-wordmark"></i>
        </div>
        
          <div class="tech-cell">
              <i class="devicon-intellij-plain"></i>
          </div>
          <div class="tech-cell">
            <i class="devicon-react-original-wordmark"></i>
        </div>
        
          <div class="tech-cell">
              <i class="devicon-vscode-plain"></i>
          </div>
          
          <div class="tech-cell">
              <i class="devicon-postman-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-swagger-plain"></i>
          </div>
          
          <div class="tech-cell">
              <i class="devicon-npm-original-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-docker-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-git-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-github-original"></i>
          </div>
          
      </div>
    </accordion-group>
  
  </accordion>
  
</div>