<div class="row align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Engineering the digital world from end to end.</h1>
        <h2 class="home-author">Aditya Chavan, <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
            Seeking a role where my adaptability and technical agility, coupled with a keen eye for emerging digital trends and a knack for optimizing processes, can be leveraged to navigate the complexities of modern business challenges and contribute meaningfully to the dynamic landscape of technology-driven industries, propelling forward in an industry at the forefront of innovation.
        </blockquote>
        <div class="button-container">
        <button >
            <a routerLink="/portfolio">
                > Check Portfolio
            </a>
        </button>

        <button>
          
            <a href="https://github.com/aditya19chavan/resume/blob/main/Aditya-Chavan_Resume.pdf">
                Download Resume
            </a>
        
        </button>
      </div>
      </div>
    </div>
  </div>
  
